*data*
*compare_sam_click_sam*
*compare_medsam_click_sam*
*compare_sam_medsam*
*compare_medsam_final_click_sam*
*compare_medsam_final_click_sam_iou*
*predictions*
*point_images*
*predictions_final*
*qwerty*
*resized_point_images*
*word_dir*
*work_dir*
*LGFinal_ClickSAM.png*
*LGPrevFinal_ClickSAM.png*
*LG*
*__pycache__*
*uniform_box_clicks.py*
*baseline1*
*baseline2*
*boxes*
*segment_anything*